* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* style game title text */
@font-face {
    font-family: "GABRWFFR";
    src: url("/assets/Fonts/GABRWFFR.woff2") format('woff2');
}
.game-info {
    margin-left: 450px;
    margin-right: 450px;
    display: flex;
    flex-direction: column;
}
.game-title {
    color: ghostwhite;
    font-size: 2em;
    font-family: gabrwffr, serif;
    text-shadow: 3px 2px black;
    text-align: center;
    margin-top: 15px;
}
.timer-score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.timer-score-info {
    color: white;
    font-family: gabrwffr;
    text-shadow: 3px 2px black;
    font-size: 1.5em;
    margin-bottom: 10px;
}
/* background */
body {
    height: 100vh;
    background: radial-gradient(purple, rgb(70, 7, 70));
}
/* gameboard container */
 .gameboard-container { 
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
 }
.card { 
    width: 25%;
    height: 33.33%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card:active {
    transform: scale(.97);
}
.card.flip {
    transform: rotateY(180deg);
}

.card-front, 
.card-back {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}
/* card images (faceup) 2 each */
.card-front {
    transform: rotateY(180deg);
}


/* style scoreboard text */

/* style instructions text */

/* style timer clock */